    {% capture mcu %}{{ page.mcu }}{% endcapture %}
    {% capture boardname %}{{ page.boardname }}{% endcapture %}
    {% capture mcufile %}{{ page.mcufile }}{% endcapture %}

    {% capture klipcom_img1 %}{{page.klipcom_img1 }}{% endcapture %}
    {% capture klipcom_cap1 %}{{page.klipcom_cap1 }}{% endcapture %}
    {% capture klipcom_url1 %} .\images\{{ page.klipcom_img1 }} {% endcapture %}

    {% capture klipcom_img2 %}{{page.klipcom_img2 }}{% endcapture %}
    {% capture klipcom_cap2 %}{{page.klipcom_cap2 }}{% endcapture %}
    {% capture klipcom_url2 %} .\images\{{ page.klipcom_img2 }} {% endcapture %}

    {% capture klipcom_img3 %}{{page.klipcom_img3 }}{% endcapture %}
    {% capture klipcom_cap3 %}{{page.klipcom_cap3 }}{% endcapture %}
    {% capture klipcom_url3 %} .\images\{{ page.klipcom_img3 }} {% endcapture %}
  
    {% capture klipcom_img4 %}{{page.klipcom_img4 }}{% endcapture %}
    {% capture klipcom_cap4 %}{{page.klipcom_cap4 }}{% endcapture %}
    {% capture klipcom_url4 %} .\images\{{ page.klipcom_img4 }} {% endcapture %}

    {% capture klipcom_img5 %}{{page.klipcom_img5 }}{% endcapture %}
    {% capture klipcom_cap5 %}{{page.klipcom_cap5 }}{% endcapture %}
    {% capture klipcom_url5 %} .\images\{{ page.klipcom_img5 }} {% endcapture %}

#### Compile Klipper firmware for {{page.firmware}}
{% include note.html content="Repeat these steps if a klipper update requires flashing new firmware to the MCU." %}

- ssh to your klipper host console
- cd to the klipper directory
```
cd klipper
```
- Run make clean
```
make clean
```
- Open menuconfig
```
make menuconfig
```
- Set the following settings
  - Enable low level configuration options
  - Micro Controller : Raspberry Pi RP2040
   - Build: 16 Kib bootloader
   - Comm Interface - {{page.com}}
  {% if page.firmware == "CAN bus" %}
  - Can bus Speed: 500000
  - CAN Rx: GPIO 4
  - CAN Tx: GPIO 5
  {% endif %}
  - GPIO Pins to set at Startup: gpio24
  {% 
  include image.html 
  file=klipcom_img1
  url=klipcom_url1
  alt=klipcom_cap1
  caption=klipcom_cap1
  %}


- Quit and save the configuration

- Run the make command to compile the firmware
```
make -j 4
```

{% if page.firmware == "usb" %}

#### Flash Klipper firmware with CanBoot over USB
- Find the Serial ID
```
ls /dev/serial/by-id/
```

- Copy the ID containing 'sb2040'
  - Example
  ```
  usb-CanBoot_rp2040_45503571279020E8-if00
  ```

- Run the flash command to burn the firmware
```
python3 ~/CanBoot/scripts/flash_can.py -f ~/klipper/out/klipper.bin -d {Your serial ID here } 
```

  - Example
  ```
  python3 ~/CanBoot/scripts/flash_can.py -f ~/klipper/out/klipper.bin -d /dev/serial/by-id/usb-CanBoot_rp2040_45503571279020E8-if00 
  ```

  {% 
  include image.html 
  file=klipcom_img2
  url=klipcom_url2
  alt=klipcom_cap2
  caption=klipcom_cap2
  %}

- Your {{ mcu }} should now have klipper firmware loaded and be ready to use. 

#### Re-Flashing Klipper

If you are updating an existing klipper build on your {{mcu}} follow these steps

- Get the klipper firmware serial ID
```
ls /dev/serial/by-id/
```
- Run the klipper flash_usb.py script to call the Canboot Bootloader. 
```
python3 ~/klipper/scripts/flash_usb.py -t rp2040 -d /dev/serial/by-id/{your serial id} ~/klipper/out/klipper.bin
```
It will throw an error but that can be ignored. 

- The status LED should start blinking after executing the Flash_usb script. 

- Check the Serial ID
```
ls /dev/serial/by-id/
```

- Verify the Serial ID now contains usb-CanBoot_rp2040
- Example
```
usb-CanBoot_rp2040_45503571279020E8-if00
```

- Repeat the section [Flash Klipper firmware with CanBoot over USB](./fly-sb2040_klipper_usb.html#flash-klipper-firmware-with-canboot-over-usb) to flash with CanBoot.

{% elsif page.firmware == "CAN bus" %}

#### Flash Klipper firmware with CanBoot over CAN bus

 - Connecting the XT30+2 harness
   - Red  wire to 12v or 24v
   - Black wire to ground.
   - Yellow ( CAN H ) and White (CAN L) CAN bus wires to the host CAN bus device
 
 - Power off the printer before connecting the XT30+2 Harness

 - Insert the XT30+2 harness plug into the {{mcu}} socket. 
 
 - Install the 120ohm jumper if this is the only MCU on your CAN bus other than the CAN adapter used by the klipper host. 

  {% 
  include image.html 
  file=klipcom_img5
  url=klipcom_url5
  alt=klipcom_cap5
  caption=klipcom_cap5
  %}

{% include note.html content="You want the CAN bus to measure 60 ohms betweel the H and L lines while the printer is powered off." %}
    
 - Power the printer back on and SSH to the klipper host. 

 - Get the {{ mcu }} UUID buy running the following script. 
 ```
 ~/CanBoot/scripts/flash_can.py -i can0 -q
 ```

 - If CAN devices are detected the above command will return the following.
```
Detected UUID: 6248a4b16ede
```
 - Each device will have a unique uuid. In the above example, 6248a4b16ede is the micro-controller’s canbus uuid.

- Save the UUID for the next step.

- Flash the klipper FW to the {{mcu}} by running the following command. 
```
python3 ~/CanBoot/scripts/flash_can.py -i can0 -f ~/klipper/out/klipper.bin -u {paste your UUID here}
```
Example
```
python3 ~/CanBoot/scripts/flash_can.py -i can0 -f ~/klipper/out/klipper.bin -u 6248a4b16ede
```
- You should get a download progress bar and CAN Flash success when the burning is complete.
  {% 
  include image.html 
  file=klipcom_img4
  url=klipcom_url4
  alt=klipcom_cap4
  caption=klipcom_cap4
  %}

- Your {{ mcu }} should now have klipper firmware loaded and be ready to use.

{% endif %}