    {% capture mcu %}{{ page.mcu }}{% endcapture %}

    {% capture mcufile %}{{ page.mcufile }}{% endcapture %}

    {% capture canburn_img1 %}{{page.canburn_img1 }}{% endcapture %}
    {% capture canburn_cap1 %}{{page.canburn_cap1 }}{% endcapture %}
    {% capture canburn_url1 %} .\images\{{ page.canburn_img1 }} {% endcapture %}

    {% capture canburn_img2 %}{{page.canburn_img2 }}{% endcapture %}
    {% capture canburn_cap2 %}{{page.canburn_cap2 }}{% endcapture %}
    {% capture canburn_url2 %} .\images\{{ page.canburn_img2 }} {% endcapture %}

    {% capture canburn_img3 %}{{page.canburn_img3 }}{% endcapture %}
    {% capture canburn_cap3 %}{{page.canburn_cap3 }}{% endcapture %}
    {% capture canburn_url3 %} .\images\{{ page.canburn_img3 }} {% endcapture %}

#### Burn CanBoot firmware to the {{mcu}}

- Use a USB-C data cable to connect the {{ mcu }} board to the klipper host. 

- Press the boot button while inserting the USB cable to put the {{mcu}} into boot mode. 

    {% 
    include image.html 
    file=canburn_img1
    url=canburn_url1 
    alt=canburn_cap1
    caption=canburn_cap1
    %}

- Run lsusb to see if the connection is successful. 
```
lsusb
```
    {% 
    include image.html 
    file=canburn_img3
    url=canburn_url3 
    alt=canburn_cap3
    caption=canburn_cap3
    %}

- Flash the {{mcu}}
```
sudo make flash FLASH_DEVICE=2e8a:0003
```

- This will flash the CanBoot firmware image and restart the {{mcu}}.

- When the status LED starts blinking, Reboot and continue to compiling Klipper firmware.