    {% capture mcu %}{{ page.mcu }}{% endcapture %}
    {% capture mcustep %}{{ page.mcustep }}{% endcapture %}
    {% capture mcusch %}{{ page.mcusch }}{% endcapture %}
    {% capture overimg1 %}{{page.overview_img1}}{% endcapture %}
    {% capture overcap1 %}{{page.overview_cap1}}{% endcapture %}
    {% capture overurl1 %}.\images\{{page.overview_img1}}{% endcapture %}
    {% capture overimg2 %}{{page.overview_img2}}{% endcapture %}
    {% capture overcap2 %}{{page.overview_cap2}}{% endcapture %}
    {% capture overurl2 %}.\images\{{page.overview_img2}}{% endcapture %}       
    {% capture overimg3 %}{{page.overview_img3}}{% endcapture %}
    {% capture overcap3 %}{{page.overview_cap3}}{% endcapture %}
    {% capture overurl3 %}.\images\{{page.overview_img3}}{% endcapture %}    

### Description

The {{ mcu }} board uses CAN communication to connect the host computer with the UTOC board, other USB to CAN adapters, Pi Hats or USB. For USB use it is recommended to not to use a cable that exceeds 1 meter ( 3.2 feet )


{% 
include image.html 
file=overimg1
url=overurl1 
alt=overcap1
caption=overcap1
%}

### Product Features

 - CAN bus connection for stable data transmission over long distaces. 

 - 24 volt max input

 - 5 amp mosfet for heater control

 - Onboard a TMC2209 driver for the extruder

 - Onboard ADXL345 accelerometer to measure resonance for input shaper.

 - Replaceble fan MOS that supports 2 controllable fans. 

 - RGB Led control

 - Peripheral interface:USB*1, CAN*1, FAN*2, RGB*1, Servo*1, Probe*1, EndStop*3, Thermal*1, Heater*1
{% 
include image.html 
file=overimg2
url=overurl2 
alt=overcap2
caption=overcap2
%}

### BOM

{% 
include image.html 
file=overimg3
url=overurl3
alt=overcap3
caption=overcap3
%}

### Included parts
 - {{ mcu }} Board
 - Heatsink for 2209 driver   
 - Jumpers * 3
 - JST-XH plug and Female Crimp Terminals
 - JST-PH plugs and Female Crimp Terminals
 - XT30+2 1 meter 4 wire harness
 - Fan MOS
 - USB-A to USB-C Cable


### Files

{% if mcustep != "" %}

- Cad .step file for the {{ mcu }} : [{{ mcu }}.step]({{mcustep}})

{% elsif mcustep == "" %}
 - No Step file Currently avaliable for the {{mcu}}
{% endif %}

{% if mcusch != "" %}

- Schematic pdf file for the {{ mcu }} : [{{ mcu }}.pdf]({{mcusch}})

{% elsif mcusch == "" %}
 - No schematic file Currently avaliable for the {{mcu}}
{% endif %}