
    {% capture sht36pins_img1 %}{{page.sht36pins_img1 }}{% endcapture %}
    {% capture sht36pins_cap1 %}{{page.sht36pins_cap1 }}{% endcapture %}
    {% capture sht36pins_url1 %} .\images\{{ page.sht36pins_img1 }} {% endcapture %}

## {{page.summary}}

  {% 
  include image.html 
  file=sht36pins_img1
  url=sht36pins_url1
  alt=sht36pins_cap1
  caption=klipcom_cap1
  %}

### CANBUS & USB

| **Function** | **Pin number** |
|-------------------------------|
|CAN-RX | **PB8**  |
|CAN-TX | **PB9**  |
|USB-DM | **PA11** |
|USB-DP | **PA12** |

### Extruder Stepper Driver 

| **Function** | **Pin number** |
|-------------------------------|
| EN | **PA15** |
| STEP | **PB4**  |
| DIR  | **PB3**  |
| UART | **PB5**  |

### Limit Switches

| |**Limit** | **Pin number** |
|---------------------|
| | 1| **PA0** |
| | 2| **PA1** |
| | 3| **PA2** |

### Heating Control

| **Function** | **Pin number** |
|-------------------------------|
| Hotend heater	| **PA8** |

### Temperature Sensor

| **Function** | **Pin number** |
|-------------------------------|
| Hotend temperature | **PB0** |

### Servo and probe

| **Function** | **Pin number** |
|-------------------------------|
| Servo position | **PB1** |
| probe | **PC15** |

### Fans

| **Function** | **Pin number** |
|-------------------------------|
| fan 0	| **PB10** |
| fan 1	| **PB11** |

### SPI device
 - spi_bus: **spi1**

| **Function** | **Pin number** |
|-------------------------------|
| MISO | **PA6** |
| MOSI | **PA7** |
| CLK | **PA5** |
| ADXL345-CS | **PA4** |
| MAX31865-CS | **PA3** |