
    {% capture sht36pins_img1 %}{{page.sht36pins_img1 }}{% endcapture %}
    {% capture sht36pins_cap1 %}{{page.sht36pins_cap1 }}{% endcapture %}
    {% capture sht36pins_url1 %} .\images\{{ page.sht36pins_img1 }} {% endcapture %}

## {{page.summary}}

  {% 
  include image.html 
  file=sht36pins_img1
  url=sht36pins_url1
  alt=sht36pins_cap1
  caption=klipcom_cap1
  %}

<div class="datatable-begin"></div>

| **Device** |  **Function** | **Pin number** | **Alias** |
|:-----------|:--------------|:---------------|:----------|
|**CANBUS** |CAN-RX | **PB8**  | |
|**CANBUS** |CAN-TX | **PB9**  | |
|**USB** |USB-DM | **PA11** | |
|**USB** |USB-DP | **PA12** | |
|**Extruder** |EN | **PA15** |EXT_EN |
|**Extruder** |STEP | **PB4**  | EXT_STEP |
|**Extruder** |DIR  | **PB3**  | EXT_DIR |
|**Extruder** |UART | **PB5**  | EXT_UART |
|**Endstop** |1| **PA0** | LIMIT_X|
|**Endstop** |2| **PA1** | LIMIT_Y|
|**Endstop** |3| **PA2** | LIMIT_Z|
|**Hotend**  |Heater	| **PA8** | HE0 |
|**Hotend**  |Temperature | **PB0** | TH0 |
|**Hotend**  |PT100 | **PA3** | PT100 |
|**Probe** |Servo position | **PB1** | PROBE_2 |
|**probe** |Probe | **PC15** | PROBE_1 |
|**Fans** |Fan 0	| **PB10** | FAN0 |
|**Fans** |Fan 1	| **PB11** | FAN1 |
|**SPI** |SPI bus | **spi1** | |
|**SPI** |MISO | **PA6** | |
|**SPI** |MOSI | **PA7** | |
|**SPI** |CLK | **PA5** | |
|**SPI** |ADXL345-CS | **PA4** | ADXL |
|**SPI** |MAX31865-CS | **PA3** | 
|**LED** |RGB LED | **PB15** | RGBLED | 

<div class="datatable-end"></div>