
    {% capture sht36pins_img1 %}{{page.sht36pins_img1 }}{% endcapture %}
    {% capture sht36pins_cap1 %}{{page.sht36pins_cap1 }}{% endcapture %}
    {% capture sht36pins_url1 %} .\images\{{ page.sht36pins_img1 }} {% endcapture %}

## {{page.summary}}

  {% 
  include image.html 
  file=sht36pins_img1
  url=sht36pins_url1
  alt=sht36pins_cap1
  caption=klipcom_cap1
  %}


{% include important.html content="There is an error in the SHT-36 V2 silk screen. FAN 0 is PB11 and FAN1 is PB10 " %}
### Table of pin functions

<div class="datatable-begin"></div>

| **Device** |  **Function** | **Pin number** | **Alias** |
|:-----------|:--------------|:---------------|:----------|
|**CAN BUS** |CAN-RX | **PB8**  | |
|**CAN BUS** |CAN-TX | **PB9**  | |
|**USB** |USB-DM | **PA11** | |
|**USB** |USB-DP | **PA12** | |
|**Extruder** |EN | **PA15** |EXT_EN |
|**Extruder** |STEP | **PB4**  | EXT_STEP |
|**Extruder** |DIR  | **PB3**  | EXT_DIR |
|**Extruder** |UART | **PB5**  | EXT_UART |
|**Extruder** |DIAG | **PB6**  | EXT_DIAG |
|**Endstop** |0| **PA1** | LIMIT_0|
|**Endstop** |1| **PA2** | LIMIT_1|
|**Hotend**  |Heater	| **PA8** | HE0 |
|**Hotend**  |Temperature | **PB0** | TH0 |
|**Hotend**  |PT100 | **PA3** | PT100 |
|**Probe** |Servo position | **PB1** | PROBE_2 |
|**probe** |Probe | **PC15** | PROBE_1 |
|**Fans** |Fan 0	| **PB11** | FAN0 |
|**Fans** |Fan 1	| **PB10** | FAN1 |
|**SPI1** |MISO | **PA6** | |
|**SPI1** |MOSI | **PA7** | |
|**SPI1** |CLK | **PA5** | |
|**SPI1** |AS5047D-CS | **PC14** | |
|**SPI2** |MISO | **PB14** | |
|**SPI2** |MOSI | **PB15** | |
|**SPI2** |CLK | **PB13** | |
|**SPI2** |ADXL345-CS | **PA9** | ADXL |
|**SPI2** |MAX31865-CS | **PB12** | MAX |
|**LED** |RGB LED | **PB0** | RGBLED | 
|**Chamber** |Temp Sensor | **PA4** | TC0 | 

<div class="datatable-end"></div>

### Sample Configuration file: [{{page.mcu}}.cfg]({{page.sht_cfg}})