#### Burn CanBoot firmware to tool board

- Install the boot jumper to the Boot0 pin and 3.3v pin as pictured. 

{% if page.boardname == "sht36" %}

    {% 
    include image.html 
    file="fly-sht36-42\sht_36_dfu_jumper.png"
    url=".\images\fly-sht36-42\sht_36_42_dfu_jumper.png" 
    alt="SHT-36 and SHT_42 burn jumper placement"
    caption="SHT-36 and SHT-42 DFU jumper location" 
    %}
 

    {% 
    include image.html 
    file="fly-sht36-42\sht_36_dfu_jumper_image.png" 
    url=".\images\fly-sht36-42\sht_36_dfu_jumper_image.png"
    alt="SHT-36 burn jumper placement"
    caption="SHT-36 DFU Jumper" 
    %}

{% elsif page.boardname == "sht42" %}

    {% 
    include image.html 
    file="fly-sht36-42\sht_42_dfu_jumper.png"
    url=".\images\fly-sht36-42\sht_36_42_dfu_jumper.png" 
    alt="SHT-36 and SHT_42 burn jumper placement"
    caption="SHT-36 and SHT-42 DFU jumper location" 
    %}
 

    {% 
    include image.html 
    file="fly-sht36-42\sht_42_dfu_jumper_image.png" 
    url=".\images\fly-sht36-42\sht_36_dfu_jumper_image.png"
    alt="SHT-36 burn jumper placement"
    caption="SHT-36 DFU Jumper" 
    %}

{% endif %}


- Use a USB-C data cable to connect the SHT board to the klipper host, Make sure that the dfu jumper is installed before connecting the USB cable.      
- Run lsusb to see if the connection is successful, copy the USB ID in the blue box. Note that the board is in DFU mode. 
```
lsusb
```
    {% 
    include image.html 
    file="fly-sht36-42\sht-36_42_lsusb_screenshot.png" 
    url=".\images\fly-sht36-42\sht-36_42_lsusb_screenshot.png"
    alt="lsusb Results"
    caption="lsusb Results" 
    %}

- Erase and Burn the firmware , replace 0483:df11 in the following command with the USB ID copied earlier
```
sudo dfu-util -a 0 -D ~/CanBoot/out/canboot.bin --dfuse-address 0x08000000:force:mass-erase:leave -d 0483:df11
```

- You should get a download progress bar and File downloaded successfuly when the burning is complete. 
    {% 
    include image.html 
    file="fly-sht36-42\sht-36_42_fw_burning_screenshot.png" 
    url=".\images\fly-sht36-42\sht-36_42_fw_burning_screenshot.png"
    alt="burn complete"
    caption="CanBoot burn complete - update this image" 
    %}

- If the burn was sucessful remove the jumper from the Boot0 pin and power cycle the printer or jsut the SHT-36 by upluging the USB and 24v power then pluging them back in again. 
- The tool board is now ready to install as a klipper MCU. 
 