    {% capture mcu %}{{ page.mcu }}{% endcapture %}
    {% capture mcustep %}{{ page.mcustep }}{% endcapture %}
    {% capture mcusch %}{{ page.mcusch }}{% endcapture %}
    {% capture boardname %}{{ page.boardname }}{% endcapture %}

    {% capture 120r_img1 %}{{page.120r_img1}}{% endcapture %}
    {% capture 120r_cap1 %}{{page.120r_cap1}}{% endcapture %}
    {% capture 120r_url1 %}.\images\{{page.120r_img1}}{% endcapture %}

    {% capture 120r_img2 %}{{page.120r_img2}}{% endcapture %}
    {% capture 120r_cap2 %}{{page.120r_cap2}}{% endcapture %}
    {% capture 120r_url2 %}.\images\{{page.120r_img2}}{% endcapture %}       
 

## {{boardname}} CAN bus termination

 - The {{boardname}} main CAN bus 120 ohm resistor is not jumpered and always enabled. 
 - CAN bus must have two 120 ohm resistors. One at each end of the bus.
 - Failure to correctly terminate the CAN bus cause to communication issues and instability.   
 - No matter how many USB devices you connect on a singe bus only enable one 120 ohm resistor at each end of the bus. There is no need to add a resistor to every CAN device
 - The resistance between CAN H and CAN L measured with the system powerd off should be 60 ohms with all CAN devices connected.
 - The UTOC-3 USB-A ports provide a CAN transciever and termination for an attached STM32 device that does not have it's own can transciever.

{% 
include image.html 
file=120r_img1
url=120r_url1 
alt=120r_cap1
caption=120r_cap1
%}

 - The {{boardname}} has an on-board 120 ohm resistor for the USB-A ports. They are enabled by installing a jumper as shown in the picture above.
 
{% 
include image.html 
file=120r_img2
url=120r_url2
alt=120r_cap2
caption=120r_cap2
%}

 - The {{boardname}} has jumpers to supply +5v to the USB-A ports and JST_XH sockets if the connected CAN device requires power from the {{boardname}}



    