        {% capture boardname %}{{ page.boardname }}{% endcapture %}
        {% capture ver %}{{ page.ver }}{% endcapture %}

## {{boardname}} files

{% if page.processor == "STM32F407" %}
- Fly Super 8 Pin Diagram: [Super8_pinout.svg](https://github.com/Mellow-3D/Fly-Super8/blob/main/Hardware/Pins.svg)
- Fly Super 8 Schematic PDF: [Schematic_Super8.pdf](https://github.com/Mellow-3D/Fly-Super8/blob/main/Hardware/Schematic.pdf)
- STM32F407 Bootloader - [Link to Mellow F407 bootloader github](hhttps://github.com/Mellow-3D/f407bootloader/releases)
{% endif %}
{% if page.processor == "STM32H723" %}
- Fly Super 8 Pin Diagram: [Super8Pro_pinout.svg](https://github.com/Mellow-3D/Fly-Super8Pro/blob/main/Hardware/pins.svg)
- Fly Super 8 Schematic PDF: [Schematic_Super8Pro.pdf](https://github.com/Mellow-3D/Fly-Super8Pro/blob/main/Hardware/Super8Pro_Schematic.pdf)
{% endif %}