{% comment %} 
  Below is where information is captured
{% endcomment %}

{% capture katapult_img1 %}{{page.katapult_img1 }}{% endcapture %}
{% capture katapult_cap1 %}{{page.katapult_cap1 }}{% endcapture %}
{% capture katapult_img1_url %} .\images\{{ page.katapult_img1 }} {% endcapture %}

{% comment %} 
  On to the real content
{% endcomment %}

## Overview

Katapult allows you to update your {{page.board_type}} via {{page.firmware}}, so no rebooting and rewiring is necessary. We recommend using Katapult for this additional convenience.

### Install Katapult package

{% include note.html content="The bootloader software formerly known as CANBoot has been renamed to Katapult" %}

{% include tip.html content="To read more about the KCONFIG_CONFIG option, see [here](https://docs.vorondesign.com/community/howto/drachenkatze/automating_klipper_mcu_updates.html)" %}

- ssh into your klipper host console

- Clone the Katapult firmware to your Klipper Host

  ```text
  cd ~/
  git clone https://github.com/Arksine/katapult
  ```

- From your Fluidd or Mainsail web UI Edit Moonraker.conf and add the following at the bottom to allow Moonraker to manage updates to Katapult. 

  ```text
  [update_manager Katapult]
  type: git_repo
  path: ~/katapult
  origin: https://github.com/Arksine/katapult.git
  is_system_service: False
  ```

### Compile Katapult firmware

- cd to the Katapult directory

  ```text
  cd ~/katapult
  ```

- Run make clean

  ```text
  make clean KCONFIG_CONFIG=config.{{page.kconfig_name}}
  ```

- Open menuconfig

  ```text
  make menuconfig KCONFIG_CONFIG=config.{{page.kconfig_name}}
  ```

{% if {{page.firmware}} == "CANbus" %}
{% include important.html content="As of FlyOS v3.1, the default CAN speed is 1000000. These instructions have been updated to reflect that speed as default. <br/> Your host system may be set up for a different default CAN speed. Use `nano /etc/network/interfaces.d/can0` to check the speed" %}
{% endif %}

{% if {{page.mcu}} == "rp2040" and {{page.firmware}} == "CANbus" and {{page.enable_status}} != "[&nbsp;]" %}
- Set the following settings
  - Micro-controller Architecture {{page.architecture}}
  - Flash Chip {{page.flash}}
  - Build Katapult deployment application {{page.deployment}}
  - Communication interface {{page.communication}}
  - {{page.can_rx}} CAN RX gpio number
  - {{page.can_tx}} CAN TX gpio number
  - {{ page.can_bus_speed }} CAN bus speed
  - {{page.gpio_bootloader_set}} GPIO pins to set on bootloader entry
  - {{page.support_bootloader_entry}} Support bootloader entry on rapid double clip of reset button
  - {{page.enable_bootloader_gpio}} Enable bootloader entry on button (or gpio) state
  - {{page.enable_status}} Enable Status LED
  - {{page.status_pin}} Status LED GPIO Pin
{% endif %}
{% if {{page.mcu}} == "rp2040" and {{page.firmware}} == "USB" and {{page.enable_status}} != "[&nbsp;]" %}
- Set the following settings
  - Micro-controller Architecture {{page.architecture}}
  - Flash Chip {{page.flash}}
  - Build Katapult deployment application {{page.deployment}}
  - Communication interface {{page.communication}}
  - {{page.gpio_bootloader_set}} GPIO pins to set on bootloader entry
  - {{page.support_bootloader_entry}} Support bootloader entry on rapid double clip of reset button
  - {{page.enable_bootloader_gpio}} Enable bootloader entry on button (or gpio) state
  - {{page.enable_status}} Enable Status LED
  - {{page.status_pin}} Status LED GPIO Pin
{% endif %}
{% if {{page.mcu}} == "rp2040" and {{page.firmware}} == "USB" and {{page.enable_status}} == "[&nbsp;]" %}
- Set the following settings
  - Micro-controller Architecture {{page.architecture}}
  - Flash Chip {{page.flash}}
  - Build Katapult deployment application {{page.deployment}}
  - Communication interface {{page.communication}}
  - {{page.gpio_bootloader_set}} GPIO pins to set on bootloader entry
  - {{page.support_bootloader_entry}} Support bootloader entry on rapid double clip of reset button
  - {{page.enable_bootloader_gpio}} Enable bootloader entry on button (or gpio) state
  - {{page.enable_status}} Enable Status LED
{% endif %}
{% if {{page.mcu}} == "STM32" and {{page.firmware}} == "USB" %}
- Set the following settings
  - Micro-controller Architecture {{page.architecture}}
  - Processor model {{page.processor}}
  - Build Katapult deployment application {{page.deployment}}
  - Clock Reference {{page.clock}}
  - Communication interface {{page.communication}}
  - Application start offset {{page.application_offset}}
  - {{page.gpio_bootloader_set}} GPIO pins to set on bootloader entry 
  - {{page.support_bootloader_entry}} Support bootloader entry on rapid double clip of reset button
  - {{page.enable_bootloader_gpio}} Enable bootloader entry on button (or gpio) state
  - {{page.enable_status}} Enable Status LED
{% endif %}
{% if {{page.mcu}} == "STM32" and {{page.firmware}} == "CANbus" %}
- Set the following settings
  - Micro-controller Architecture {{page.architecture}}
  - Processor model {{page.processor}}
  - Build Katapult deployment application {{page.deployment}}
  - Clock Reference {{page.clock}}
  - Communication interface {{page.communication}}
  - Application start offset {{page.application_offset}}
  - {{page.can_bus_speed}} CAN bus speed
  - {{page.gpio_bootloader_set}} GPIO pins to set on bootloader entry 
  - {{page.support_bootloader_entry}} Support bootloader entry on rapid double clip of reset button
  - {{page.enable_bootloader_gpio}} Enable bootloader entry on button (or gpio) state
  - {{page.enable_status}} Enable Status LED
{% endif %}

    {% include image.html file=katapult_img1 url=katapult_img1_url alt=katapult_cap1 caption=katapult_cap1 %}

- Quit and save the configuration

- Run the make command to compile the firmware

  ```text
  make KCONFIG_CONFIG=config.{{page.kconfig_name}} -j4
  ```

- You should now have a {{page.katapult_file}} file at ~/katapult/out/
