{% capture katapult_img2 %}{{page.katapult_img2 }}{% endcapture %}
{% capture katapult_cap2 %}{{page.katapult_cap2 }}{% endcapture %}
{% capture katapult_img2_url %} .\images\{{ page.katapult_img2 }} {% endcapture %}

{% capture katapult_img3 %}{{page.katapult_img3 }}{% endcapture %}
{% capture katapult_cap3 %}{{page.katapult_cap3 }}{% endcapture %}
{% capture katapult_img3_url %} .\images\{{ page.katapult_img3 }} {% endcapture %}

### Flash Katapult to the {{page.boardname}} MCU

- ftp to your klipper host with an FTP client like [FileZilla](https://filezilla-project.org/)
  - open the folder '~/katapult/out'
  - download deployer.bin to your PC
- place the MCU MicroSD card into a card reader and connect it to your PC.  
- ensure that the SD Card is formatted as Fat32. If in doubt use the [SD Card Formatter](https://www.sdcard.org/downloads/formatter/).  
- Copy the deployer.bin file to the root of the SD card
- rename deployer.bin to firmware.bin
- Eject the SD card from the PC
- Insert the SD card into the {{page.boardname}} SD card Slot.
    
  {% include image.html file=katapult_img2 url=katapult_img2_url alt=katapult_cap2 caption=katapult_cap2 %} 

- Press the {{page.boardname}} reboot button
    
  {% include image.html file=katapult_img3 url=katapult_img3_url alt=katapult_cap3 caption=katapult_cap3 %}

- Wait a few minutes
- Open a putty SSH session to the {{page.boardname}} and log on

- run lsusb to verify the MCU has been discovered as a USB device

  {% include image.html file="lsusb_katapult.jpg" alt="Example lsusb Output" caption="Example lsusb Output" %} 

- Continue to the [Klipper for USB configuration section]({{page.installKlipperURL}})