    {% capture mcu %}{{ page.mcu }}{% endcapture %}

    {% capture mcufile %}{{ page.mcufile }}{% endcapture %}

    {% capture klipcom_img1 %}{{page.klipcom_img1 }}{% endcapture %}
    {% capture klipcom_cap1 %}{{page.klipcom_cap1 }}{% endcapture %}
    {% capture klipcom_url1 %} .\images\{{ page.klipcom_img1 }} {% endcapture %}

    {% capture klipcom_img2 %}{{page.klipcom_img2 }}{% endcapture %}
    {% capture klipcom_cap2 %}{{page.klipcom_cap2 }}{% endcapture %}
    {% capture klipcom_url2 %} .\images\{{ page.klipcom_img2 }} {% endcapture %}

    {% capture klipcom_img3 %}{{page.klipcom_img3 }}{% endcapture %}
    {% capture klipcom_cap3 %}{{page.klipcom_cap3 }}{% endcapture %}
    {% capture klipcom_url3 %} .\images\{{ page.klipcom_img3 }} {% endcapture %}
  
    {% capture klipcom_img4 %}{{page.klipcom_img4 }}{% endcapture %}
    {% capture klipcom_cap4 %}{{page.klipcom_cap4 }}{% endcapture %}
    {% capture klipcom_url4 %} .\images\{{ page.klipcom_img4 }} {% endcapture %}


#### Compile Klipper firmware for {{page.firmware}}
{% include note.html content="Repeat these steps if a klipper update requires flashing new firmware to the MCU." %}

- ssh to your klipper host console
- cd to the klipper directory
```
cd klipper
```
- Run make clean
```
make clean
```
- Open menuconfig
```
make menuconfig
```
- Set the following settings
  - Enable extra Low Level configuration options : Checked
  - Micro Controller : STMicroelectronics STM32
  - Processor Model: stm32f407
  - Build: 8 Kib bootloader
  - Clock Ref: 8 MHz crystal
  - Comm Interface - {{page.com}}
  - Application Offset 8 Kib
  {% if page.firmware == "can" %}
  - CanBus Speed: 500000
  {% endif %}
    {% 
    include image.html 
    file=klipcom_img1
    url=klipcom_url1
    alt=klipcom_cap1
    caption=klipcom_cap1
    %}


- Quit and save the configuration

- Run Make to compile the firmware

```
make -j 4
```

{% if page.firmware == "usb" %}

#### Flash Klipper firmware with CanBoot over USB
- Find the Serial ID
```
ls -l /dev/serial/by-id/
```

- Copy the ID containing 'stm32f407xb'

- Run the make flash command to compile the firmware
```
python3 ~/CanBoot/scripts/flash_can.py -f ~/klipper/out/klipper.bin -d {Your serial ID here } 
```

 - Example
```
python3 ~/CanBoot/scripts/flash_can.py -f ~/klipper/out/klipper.bin -d /dev/serial/by-id/usb-CanBoot_stm32f407xb_170038000650314D35323820-if00 
```

  {% 
  include image.html 
  file=klipcom_img2
  url=klipcom_url2
  alt=klipcom_cap2
  caption=klipcom_cap2
  %}

- Your {{ mcu }} should now have klipper firmware loaded and be ready to use. 

{% elsif page.firmware == "can" %}

#### Flash Klipper firmware with CanBoot over CAN bus

 - Get the {{ mcu }} UUID buy running the following script. 
 ```
 ~/CanBoot/scripts/flash_can.py -i can0 -q
 ```

 - If CAN devices are detected the above command will return the following.
```
Found canbus_uuid=6248a4b16ede
```
 - Each device will have a unique uuid. In the above example, 6248a4b16ede is the micro-controller’s canbus uuid.

- Save the UUID for the next step.

- Flash the klipper FW to the {{mcu}} by running the following command. 
```
python3 ~/CanBoot/scripts/flash_can.py -i can0 -f ~/klipper/out/klipper.bin -u {paste your UUID here}
```
Example
```
python3 ~/CanBoot/scripts/flash_can.py -i can0 -f ~/klipper/out/klipper.bin -u 6248a4b16ede
```
- You should get a download progress bar and File downloaded successfuly when the burning is complete.
  {% 
  include image.html 
  file=klipcom_img4
  url=klipcom_url4
  alt=klipcom_cap4
  caption=klipcom_cap4
  %}

- Your {{ mcu }} should now have klipper firmware loaded and be ready to use.

{% endif %}