    {% capture title %}{{ page.title }}{% endcapture %}
    {% capture mcu %}{{ page.mcu }}{% endcapture %}

    {% capture boardname %}{{ page.boardname }}{% endcapture %}

    {% capture sbc_setup_img1 %}{{page.sbc_setup_img1 }}{% endcapture %}
    {% capture sbc_setup_cap1 %}{{page.sbc_setup_cap1 }}{% endcapture %}
    {% capture sbc_setup_url1 %} .\images\{{ page.sbc_setup_img1 }} {% endcapture %}

    {% capture sbc_setup_img2 %}{{page.sbc_setup_img2 }}{% endcapture %}
    {% capture sbc_setup_cap2 %}{{page.sbc_setup_cap2 }}{% endcapture %}
    {% capture sbc_setup_url2 %} .\images\{{ page.sbc_setup_img2 }} {% endcapture %}

    {% capture sbc_setup_img3 %}{{page.sbc_setup_img3 }}{% endcapture %}
    {% capture sbc_setup_cap3 %}{{page.sbc_setup_cap3 }}{% endcapture %}
    {% capture sbc_setup_url3 %} .\images\{{ page.sbc_setup_img3 }} {% endcapture %}

    {% capture sbc_setup_img4 %}{{page.sbc_setup_img4 }}{% endcapture %}
    {% capture sbc_setup_cap4 %}{{page.sbc_setup_cap4 }}{% endcapture %}
    {% capture sbc_setup_url4 %} .\images\{{ page.sbc_setup_img4 }} {% endcapture %}

    {% capture sbc_setup_img5 %}{{page.sbc_setup_img5 }}{% endcapture %}
    {% capture sbc_setup_cap5 %}{{page.sbc_setup_cap5 }}{% endcapture %}
    {% capture sbc_setup_url5 %} .\images\{{ page.sbc_setup_img5 }} {% endcapture %}

    {% capture sbc_setup_img6 %}{{page.sbc_setup_img6 }}{% endcapture %}
    {% capture sbc_setup_cap6 %}{{page.sbc_setup_cap6 }}{% endcapture %}
    {% capture sbc_setup_url6 %} .\images\{{ page.sbc_setup_img6 }} {% endcapture %}

    {% capture sbc_setup_img7 %}{{page.sbc_setup_img7 }}{% endcapture %}
    {% capture sbc_setup_cap7 %}{{page.sbc_setup_cap7 }}{% endcapture %}
    {% capture sbc_setup_url7 %} .\images\{{ page.sbc_setup_img7 }} {% endcapture %}

    {% capture sbc_setup_img7 %}{{page.sbc_setup_img8 }}{% endcapture %}
    {% capture sbc_setup_cap7 %}{{page.sbc_setup_cap8 }}{% endcapture %}
    {% capture sbc_setup_url7 %} .\images\{{ page.sbc_setup_img8 }} {% endcapture %}
    
    {% capture sbc_setup_img7 %}{{page.sbc_setup_img9 }}{% endcapture %}
    {% capture sbc_setup_cap7 %}{{page.sbc_setup_cap9 }}{% endcapture %}
    {% capture sbc_setup_url7 %} .\images\{{ page.sbc_setup_img9 }} {% endcapture %}
    
    {% capture sbc_setup_img7 %}{{page.sbc_setup_img10 }}{% endcapture %}
    {% capture sbc_setup_cap7 %}{{page.sbc_setup_cap10 }}{% endcapture %}
    {% capture sbc_setup_url7 %} .\images\{{ page.sbc_setup_img10 }} {% endcapture %}
    
    {% capture sbc_setup_img7 %}{{page.sbc_setup_img11 }}{% endcapture %}
    {% capture sbc_setup_cap7 %}{{page.sbc_setup_cap11 }}{% endcapture %}
    {% capture sbc_setup_url7 %} .\images\{{ page.sbc_setup_img11 }} {% endcapture %}
    
    {% capture sbc_setup_img7 %}{{page.sbc_setup_img12 }}{% endcapture %}
    {% capture sbc_setup_cap7 %}{{page.sbc_setup_cap12}}{% endcapture %}
    {% capture sbc_setup_url7 %} .\images\{{ page.sbc_setup_img12 }} {% endcapture %}

## {{boardname}} initial setup

### Install CH340 driver
 - Download and install the CH340 driver from Mellow 
 - Connect the {{boardname}} by USB to your PC.