    {% capture title %}{{ page.title }}{% endcapture %}
    {% capture mcu %}{{ page.mcu }}{% endcapture %}

    {% capture boardname %}{{ page.boardname }}{% endcapture %}

    {% capture m2we_img1 %}{{page.m2we_img1 }}{% endcapture %}
    {% capture m2we_cap1 %}{{page.m2we_cap1 }}{% endcapture %}
    {% capture m2we_url1 %} .\images\{{ page.m2we_img1 }} {% endcapture %}

    {% capture m2we_img2 %}{{page.m2we_img2 }}{% endcapture %}
    {% capture m2we_cap2 %}{{page.m2we_cap2 }}{% endcapture %}
    {% capture m2we_url2 %} .\images\{{ page.m2we_img2 }} {% endcapture %}

    {% capture m2we_img3 %}{{page.m2we_img3 }}{% endcapture %}
    {% capture m2we_cap3 %}{{page.m2we_cap3 }}{% endcapture %}
    {% capture m2we_url3 %} .\images\{{ page.m2we_img3 }} {% endcapture %}

    {% capture m2we_img4 %}{{page.m2we_img4 }}{% endcapture %}
    {% capture m2we_cap4 %}{{page.m2we_cap4 }}{% endcapture %}
    {% capture m2we_url4 %} .\images\{{ page.m2we_img4 }} {% endcapture %}

    {% capture m2we_img5 %}{{page.m2we_img5 }}{% endcapture %}
    {% capture m2we_cap5 %}{{page.m2we_cap5 }}{% endcapture %}
    {% capture m2we_url5 %} .\images\{{ page.m2we_img5 }} {% endcapture %}

    {% capture m2we_img6 %}{{page.m2we_img6 }}{% endcapture %}
    {% capture m2we_cap6 %}{{page.m2we_cap6 }}{% endcapture %}
    {% capture m2we_url6 %} .\images\{{ page.m2we_img6 }} {% endcapture %}

    {% capture m2we_img7 %}{{page.m2we_img7 }}{% endcapture %}
    {% capture m2we_cap7 %}{{page.m2we_cap7 }}{% endcapture %}
    {% capture m2we_url7 %} .\images\{{ page.m2we_img7 }} {% endcapture %}

    {% capture m2we_img7 %}{{page.m2we_img8 }}{% endcapture %}
    {% capture m2we_cap7 %}{{page.m2we_cap8 }}{% endcapture %}
    {% capture m2we_url7 %} .\images\{{ page.m2we_img8 }} {% endcapture %}

## {{title}}

### Install the M2WE module
 - Attach the antenna to the M2WE module

 {%   
 include image.html 
 file=m2we_img1
 url=m2we_url1
 alt=m2we_cap1
 caption=m2we_cap1
 %}

 - Insert the M2WE modue. 

 {% include warning.html content="The M2WE does not support hot plugging. Install the device with the power disconected." %}

{%   
 include image.html 
 file=m2we_img2
 url=m2we_url2
 alt=m2we_cap2
 caption=m2we_cap2
 %}

 - Secure the M2WE with the included screw using a 1.5mm hex key.

{% if mcu == "geminiv3" %}
{% include tip.html content="On Gemini V3 it may be necessary to file or cut the retaining screw hole longer to allow the M2WE to fully seat in the socket. " %}
{% endif %}

 {%   
 include image.html 
 file=m2we_img3
 url=m2we_url3
 alt=m2we_cap3
 caption=m2we_cap3
 %}

