     {% capture boardname %}{{ page.boardname }}{% endcapture %}

{% if boardname == "Fly-Pi" %}
### Socket ZH3
{% else if boardname == "Gemini" %}
### Socket ZH2
{% endif %}

<div class="datatable-begin"></div>

|  **Label** | **Name** | **40 Pin header number** | **Function** | **TFT  Display Pin** | **TFT Name** | **Board Name** |
|:--------------|:---------------|:----------|:----------|:----------|:----------|
| RX | UART2_RX |	10	| PA1/UART2_RX/JTAG_CK0/PA_EINT | 10 |IRQ |RX|
| TX | UART2_TX | 8 |	PA0/UART2_TX/JTAG_MS0/PA_EINT0 | | | TX|
| G | Ground | | | | |G|	
| 5v | +5v | | | | |5V|

<div class="datatable-end"></div>


{% if boardname == "Fly-Pi" %}
### Socket ZH1
{% else if boardname == "Gemini" %}
### Socket ZH1
{% endif %}

<div class="datatable-begin"></div>

|  **Label** | **Name** | **40 Pin header number** | **Function** | **TFT  Display Pin** | **TFT Name** | **Board Name** |
|:--------------|:---------------|:----------|:----------|:----------|:----------|
| RX | UART1_RX | 11 | PG7/UART1_RX/PG_EINT7 | 8 | RES |RX|	
| TX | UART1_TX | 12 | PG6/UART1_TX/PG_EINT6 |9 | DC |TX|
| G | Ground	| | | | |G|
| 5V | +5v | | | | |5V|

<div class="datatable-end"></div>


{% if boardname == "Fly-Pi" %}
### Socket ZH2
{% else if boardname == "Gemini" %}
### Socket ZH3
{% endif %}

<div class="datatable-begin"></div>

|  **Label** | **Name** | **40 Pin header number** | **Function** | **TFT  Display Pin** | **TFT Name** | **Board Name** |
|:--------------|:---------------|:----------|:----------|:----------|:----------|
| RTS	| UART3_RTS	| NA |PA15/SPI1_MOSI/UART3_RTS/PA_EINT15 | 1 | SDI |SI|
| CTS | UART3_CTS | 16 | PA16/SPI1_MISO/UART3_CTS/PA_EINT16 | 2 | CLK |CLK|
| RX | UART3_RX | 13 | PA14/SPI1_CLK/UART3_RX/PA_EINT14 | 3 | SDO |SO|
| TX | UART3_TX | 15 | PA13/SPI1_CS/UART3_TX/PA_EINT13 | 4 | CSO |CS|
| SDA | I2C1_SDA | NA | PA19/PCM0_CLK/TWI1_SDA/PA_EINT19 | 5 | CS1 |IO|
| G | Ground |								6 | GND |G|
| 5v | +5v |									7 | 5V |5V|

<div class="datatable-end"></div>


{% if boardname == "Fly-Pi" %}
### Socket ZH4
{% else if boardname == "Gemini" %}
### Socket ZH5
{% endif %}

<div class="datatable-begin"></div>

|  **Label** | **Name** | **40 Pin header number** | **Function** | **TFT  Display Pin** | **TFT Name** |**Board Name** |
|:--------------|:---------------|:----------|:----------|:----------|:----------|
| MOSI | SPI0_MOSI | 19 | PC0/NAND_WE/SPI0_MOSI | | |SI|
| CLK | SPI0_CLK | 23	| PC2/NAND_CLE/SPI0_CLK | | |CLK|
| MISO | SPI0_MISO | 21 | PC1/NAND_ALE/SPI0_MISO | | |SO|
| CS | SPI0_CS | 24 | PC3/NAND_CE1/SPI0_CS | | |CS|
| SCL | I2C1_SCL | NA | PA18/PCM0_SYNC/TWI1_SCK/PA_EINT18 | | |IO|
| G | Ground | | | | |G|		
| 5v | +5v | | | | |5V|

<div class="datatable-end"></div>