        {% capture boardname %}{{ page.boardname }}{% endcapture %}
        {% capture ver %}{{ page.ver }}{% endcapture %}


## Klipper Host CAN0 file configuration


{% include important.html content="This guide assumes you have a working Klipper host installation on a Fly Gemini, Fly Pi, Raspberry Pi or compatible device. If you don't have a working installation, please use [kiauh](https://github.com/th33xitus/kiauh)" %}
 
 - SSH into your Klipper host and create a new can0 file in the /ect/network/interfaces.d folder
 ```
 sudo nano /etc/network/interfaces.d/can0
 ```

 - Enter the following information. 
``` 
allow-hotplug can0
iface can0 can static
 bitrate 500000
 up ifconfig $IFACE txqueuelen 1024
 pre-up ip link set can0 type can bitrate 500000
 pre-up ip link set can0 txqueuelen 1024
 ```
{% include note.html content="Use the same bitrate you use on your can tool boards. This can be 250000, 500000 or 1000000. Bitrates of 500000 and 1000000 are prefered. " %}
 

 - Enter Ctrl+X to save the can0 file

 - Reboot your klipper host. 

 - Reconnect to your klipper host using SSH and send `ifconfig`. Make sure the can0 interface is listed.  

 - This should be all you need to do if you are using a Fly UTOC-1, UTOC-3 or {{boardname}} in CAN mode. 
 Other CAN bus adapters may need aditional configuration steps. 