
    {% capture klipper_img1 %}{{page.klipper_img1 }}{% endcapture %}
    {% capture klipper_cap1 %}{{page.klipper_cap1 }}{% endcapture %}
    {% capture klipper_url1 %} .\images\{{ page.klipper_img1 }} {% endcapture %}

    {% capture kconfig_note %}If when running the above command you get this output <br/>`Using default symbol values (no 'config.{{page.kconfig_name}}')`. `Configuration saved to 'config.{{page.kconfig_name}}' `<br/>Then you need to set all the correct settings when running make menuconfig below.<br/>Otherwise, skip to compiling klipper.{% endcapture %}

### Compile Klipper firmware for {{page.boardname}}

{% include tip.html content="To read more about the KCONFIG_CONFIG option, see [here](https://docs.vorondesign.com/community/howto/drachenkatze/automating_klipper_mcu_updates.html)" %}

- ssh to your klipper host console
- cd to the klipper directory

  ```text
cd ~/klipper
  ```

- Run make clean

  ```text
make clean KCONFIG_CONFIG=config.{{page.kconfig_name}}
  ```

{% if {{page.state}} == "update" %}
{% include important.html content=kconfig_note %}
{% endif %}

- Open menuconfig

  ```text
make menuconfig KCONFIG_CONFIG=config.{{page.kconfig_name}}
  ```

{% if {{page.firmware}} == "CANbus" %}
{% include important.html content="As of FlyOS v3.1, the default CAN speed is 1000000. These instructions have been updated to reflect that speed as default. <br/> Your host system may be set up for a different default CAN speed. Use `nano /etc/network/interfaces.d/can0` to check the speed" %}
{% endif %}

{% if {{page.mcu}} == "rp2040" and {{page.firmware}} == "CANbus" and {{page.bootloader_offset}} != "(No bootloader)" %}
- Set the following settings
  - {{page.low_level}} Enable extra low-level configuration options
  - Micro-controller Architecture {{ page.architecture }}
  - Bootloader offset {{page.bootloader_offset}}
  - Communication interface {{page.communication}}
  - {{page.can_rx}} CAN RX gpio number
  - {{page.can_tx}} CAN TX gpio number
  - {{page.can_bus_speed}} CAN bus speed
  - {{page.gpio_startup}} GPIO pins to set at micro-controller startup
{% endif %}
{% if {{page.mcu}} == "rp2040" and {{page.firmware}} == "USB" and {{page.bootloader_offset}} != "(No bootloader)" %}
- Set the following settings
  - {{page.low_level}} Enable extra low-level configuration options
  - Micro-controller Architecture {{ page.architecture }}
  - Bootloader offset {{page.bootloader_offset}}
  - Communication interface {{page.communication}}
  - USB ids {{page.usb_ids}}
  - {{page.gpio_startup}} GPIO pins to set at micro-controller startup
{% endif %}
{% if {{page.mcu}} == "STM32" and {{page.firmware}} == "USB" %}
- Set the following settings
  - {{page.low_level}} Enable extra low-level configuration options
  - Micro-controller Architecture {{ page.architecture }}
  - Processor model {{page.processor}}
  - Bootloader offset {{page.bootloader_offset}}
  - Clock Reference {{page.clock}}
  - Communication interface {{page.communication}}
  - USB ids {{page.usb_ids}}
  - {{page.gpio_startup}} GPIO pins to set at micro-controller startup
{% endif %}
{% if {{page.mcu}} == "STM32" and {{page.firmware}} == "USB2CAN" %}
- Set the following settings
  - {{page.low_level}} Enable extra low-level configuration options
  - Micro-controller Architecture {{ page.architecture }}
  - Processor model {{page.processor}}
  - Bootloader offset {{page.bootloader_offset}}
  - Clock Reference {{page.clock}}
  - Communication interface {{page.communication}}
  - CAN bus interface {{page.can_bus_interface}}
  - USB ids {{page.usb_ids}}
  - {{page.can_bus_speed}} CAN bus speed
  - {{page.gpio_startup}} GPIO pins to set at micro-controller startup
{% endif %}
{% if {{page.mcu}} == "STM32" and {{page.firmware}} == "CANbus" %}
- Set the following settings
  - {{page.low_level}} Enable extra low-level configuration options
  - Micro-controller Architecture {{ page.architecture }}
  - Processor model {{page.processor}}
  - Bootloader offset {{page.bootloader_offset}}
  - Clock Reference {{page.clock}}
  - Communication interface {{page.communication}}
  - {{page.can_bus_speed}} CAN bus speed
  - {{page.gpio_startup}} GPIO pins to set at micro-controller startup
{% endif %}

    {% include image.html file=klipper_img1 url=klipper_url1 alt=klipper_cap1 caption=klipper_cap1 %}

- Quit and save the configuration
- Run Make to compile the firmware

  ```text
make KCONFIG_CONFIG=config.{{page.kconfig_name}} -j4
  ```
