    {% capture mcu %}{{ page.mcu }}{% endcapture %}

    {% capture mcufile %}{{ page.mcufile }}{% endcapture %}

    {% capture cancom_img1 %}{{page.cancom_img1 }}{% endcapture %}
    {% capture cancom_cap1 %}{{page.cancom_cap1 }}{% endcapture %}
    {% capture cancom_url1 %} .\images\{{ page.cancom_img1 }} {% endcapture %}

    {% capture cancom_img2 %}{{page.cancom_img2 }}{% endcapture %}
    {% capture cancom_cap2 %}{{page.cancom_cap2 }}{% endcapture %}
    {% capture cancom_url2 %} .\images\{{ page.cancom_img2 }} {% endcapture %}

    {% capture cancom_img3 %}{{page.cancom_img3 }}{% endcapture %}
    {% capture cancom_cap3 %}{{page.cancom_cap3 }}{% endcapture %}
    {% capture cancom_url3 %} .\images\{{ page.cancom_img3 }} {% endcapture %}

### Install CanBoot package

- ssh to your klipper host console

- Clone the CanBoot firmware to your Klipper Host
```
cd ~/
git clone https://github.com/Arksine/CanBoot
```
- From your Fluidd or Mainsail web UI Edit Moonraker.conf and add the following at the bottom to allow moonraker to manage updates to the CAN bus software. 
```
[update_manager CanBoot]
type: git_repo
path: ~/CanBoot
origin: https://github.com/Arksine/CanBoot.git
is_system_service: False
```

### Compile CanBoot firmware

- cd to the Canboot directory
```
cd CanBoot
```
- Run make clean
```
make clean
```
- Open menuconfig
```
make menuconfig
```
- Set the following settings
  - Micro Controller : STMicroelectronics STM32
  - Processor Model: STM32F407
  - Build: 32 Kib bootloader
  - Clock Ref: 8 MHz crystal
  - Comm Interface - {{page.com}}
  - Application Offset 32 Kib
  {% if page.firmware == "can" %}
  - Can bus Speed: 500000
  {% endif %}

    {% 
    include image.html 
    file=cancom_img1
    url=cancom_url1
    alt=cancom_cap1
    caption=cancom_cap1
    %}

- Quit and save the configuration

- Run the make command to compile the firmware
```
make
```
- You should now have a canboot.bin and a deployer.bin file at ~/CanBoot/out/

### Flash CanBoot to the {{page.boardname}} MCU

- ftp to your klipper host with an FTP client like [FileZilla](https://filezilla-project.org/)
  - open the folder '/home/fly/CanBoot/out'
  - download deployer.bin to your PC
- place the MCU MiniSD card into a card reader and connect it to your PC.  

- Copy the deployer.bin file to the SD card

- rename deployer.bin to firmware.bin

- Eject the SD card from the PC

- Insert the SD card into the MCU SD card Slot.
    
  {% 
  include image.html 
  file=cancom_img2
  url=cancom_url2
  alt=cancom_cap2
  caption=cancom_cap1
  %} 

- Press the {{page.boardname}} reboot button
    
    {% 
    include image.html 
    file=cancom_img3
    url=cancom_url3
    alt=cancom_cap3
    caption=cancom_cap1
    %}

- Wait a few minutes

- Open a putty SSH session to the {{boardname}} and log on

{% if page.firmware == "usb" %}

- run lsusb to verify the MCU has been discovered as a USB device
  - add screen shot

  - Continue to the [Klipper for USB configuration section](./fly-e3_v2_klipper_usb.html)

{% elsif page.firmware == "can" %}

- run canboot query verify the MCU is up on the CAN bus

```
~/CanBoot/scripts/flash_can.py -i can0 -q
```

- Note the UUID for flashing klipper with CanBoot in the [Klipper for CAN bus configuration section](./fly-e3_v2_klipper_can.html). 

{% endif %}