    {% capture boardname %}{{ page.boardname }}{% endcapture %}
    {% capture ver %}{{ page.ver }}{% endcapture %}
    {% capture mcufile %}{{ page.mcufile }}{% endcapture %}

    {% capture klipcom_img1 %}{{page.klipcom_img1 }}{% endcapture %}
    {% capture klipcom_cap1 %}{{page.klipcom_cap1 }}{% endcapture %}
    {% capture klipcom_url1 %} .\images\{{ page.klipcom_img1 }} {% endcapture %}

    {% capture klipcom_img2 %}{{page.klipcom_img2 }}{% endcapture %}
    {% capture klipcom_cap2 %}{{page.klipcom_cap2 }}{% endcapture %}
    {% capture klipcom_url2 %} .\images\{{ page.klipcom_img2 }} {% endcapture %}

    {% capture klipcom_img3 %}{{page.klipcom_img3 }}{% endcapture %}
    {% capture klipcom_cap3 %}{{page.klipcom_cap3 }}{% endcapture %}
    {% capture klipcom_url3 %} .\images\{{ page.klipcom_img3 }} {% endcapture %}


### Compile Klipper firmware for {{page.firmware}}

{% include note.html content="Repeat these steps if a klipper update requires flashing new firmware to the MCU." %}

- ssh to your klipper host console
- cd to the klipper directory
```
cd klipper
```
- Run make clean
```
make clean KCONFIG_CONFIG=config.{{page.kconfig_name}}
```
- Open menuconfig
```
make menuconfig KCONFIG_CONFIG=config.{{page.kconfig_name}}
```
{% include note.html content="To read more about the KCONFIG_CONFIG option, see [here](https://docs.vorondesign.com/community/howto/drachenkatze/automating_klipper_mcu_updates.html)" %}
- Set the following settings

  - Enable extra Low Level configuration options : Checked
  - Micro Controller : {{ page.micro }}
  - Processor Model: {{page.processor}}
  - Bootloader offset: {{page.offset}}
  - Clock Ref: {{page.clock}}
  - Comm Interface - {{page.com}}
  - CanBus Speed: {{ page.canspeed }}

    {% 
    include image.html 
    file=klipcom_img1
    url=klipcom_url1
    alt=klipcom_cap1
    caption=klipcom_cap1
    %}


- Quit and save the configuration

- Run Make to compile the firmware

```
make KCONFIG_CONFIG=config.{{page.kconfig_name}} -j4
```
