    {% capture boardname %}{{ page.boardname }}{% endcapture %}
    {% capture firmware %}{{ page.firmware }}{% endcapture %}
    {% capture ver %}{{ page.ver }}{% endcapture %}

    {% capture cancom_img1 %}{{page.cancom_img1 }}{% endcapture %}
    {% capture cancom_cap1 %}{{page.cancom_cap1 }}{% endcapture %}
    {% capture cancom_url1 %} .\images\{{ page.cancom_img1 }} {% endcapture %}

### Install Katapult package
{% include note.html content="The bootloader software formerly known as CanBoot has been renamed to Katapult" %}

- ssh into your klipper host console

- Clone the Katapult firmware to your Klipper Host
```
cd ~/
git clone https://github.com/Arksine/katapult
```
- From your Fluidd or Mainsail web UI Edit Moonraker.conf and add the following at the bottom to allow moonraker to manage updates to the CAN bus software. 
```
[update_manager Katapult]
type: git_repo
path: ~/katapult
origin: https://github.com/Arksine/katapult.git
is_system_service: False
```

### Compile Katapult firmware

- cd to the katapult directory
```
cd ~/katapult
```
- Run make clean
```
make clean
```
- Open menuconfig
```
make menuconfig
```
- Set the following settings
  - Micro Controller : {{ page.micro }}
  - Processor Model: {{page.processor}}
  - Build: {{page.offset}}
  - Clock Ref: {{page.clock}}
  - Comm Interface - {{page.com}}
  - Application Offset {{ page.appoffset }}
  {% if page.firmware == "can" %}
  - Can bus Speed: {{ page.canspeed }}
  {% endif %}

    {% 
    include image.html 
    file=cancom_img1
    url=cancom_url1
    alt=cancom_cap1
    caption=cancom_cap1
    %}

- Quit and save the configuration

- Run the make command to compile the firmware
```
make -j4
```
- You should now have a katapult.bin file at ~/katapult/out/